/* Input.css */

.add-task {
  /*  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-field {
  /*  */
  margin: 16px;
}

input {
  /*  */
  height: 48px;
  color: black;
  font-size: 24px;
  border-radius: 8px;
  overflow: hidden;
}

.add-task-button {
  /*  */
  margin: 16px;
}

button {
  /*  */
  background-color: #4caf50;
  padding: 10px;
  font-size: 25px;
  border-radius: 16px;
  overflow: hidden;
}

/* ************************************ */
