/* Task.css */

.task-list-form {
  /*👉backgroun-color: red;👈*/
}

.task {
  background-color: slategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 290px;
}

.check-box-group {
  display: flex;
  align-items: center;
}

.check-box-main {
  padding-top: 3px;
}

.check-box {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.task-title {
  /*  */
  width: 230px;
  text-align: left;
  text-justify: inter-word;
  font-size: 20px;
  margin-left: 14px;
}

h3.line-through {
  text-decoration-line: line-through;
}

h3.none {
  text-decoration-line: none;
}

/*👉.deleteButton-parent {
    ➡  ⬅
    
}👈*/

.deleteButton {
  background-color: lightblue;
  font-size: 14px;
  font-weight: bold;
  margin-right: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
}

/* *********************************************** */
